<div class="show-user">

  <h3>ユーザー詳細</h3>

<table>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= @user.profile %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>

    <tr>
      <th>アイコン</th>
      <td><img src="<%= @user.icon.thumb.url %>"></td>
    </tr>

  </table>

<h3>投稿一覧</h3>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>名前</th>
      <th>紹介文</th>
      <th>住所</th>
      <th>価格</th>
      <th>作成日</th>
      <th>投稿者(User_id)</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><img src="<%= room.img.thumb.url %>"></td>
        <td><%= room.name %></td>
        <td><%= room.introduction %></td>
        <td><%= room.address %></td>
        <td><%= room.price %></td>
        <td><%= room.created_at.to_s(:datetime_jp) %></td>
        <td><%= room.user_id %></td>
        <td>
          <%= link_to "詳細", room %>
        </td>
        <td>
          <%= link_to "編集", [:edit, room] %>
        </td>
        <td>
          <%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>予約一覧</h3>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>名前</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>人数</th>
      <th>合計金額</th>
    </tr>
  </thead>

  <tbody> 
    <% @bookings.each do |booking| %>
        <td><></td>
        <td><></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.total_people %></td>
        <td><></td>
      </tr>  
    <% end %>
  </tbody>
</table>

<h3>お部屋投稿</h3>

<%= form_with model: @room do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "名前" %></th>
      <td><%= f.text_area :name %></td>
    </tr>
    <tr>
      <th><%= f.label :introduction, "紹介文" %></th>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <th><%= f.label :address, "住所" %></th>
      <td><%= f.text_area :address %></td>
    </tr>
    <tr>
      <th><%= f.label :price, "価格" %></th>
      <td><%= f.text_area :price %></td>
    </tr>
    <tr>
      <th><%= f.label :img ,"画像" %></th>
      <td><%= f.file_field :img %></td>
    </tr>
  </table>
  <%= f.hidden_field :user_id, value: @user.id %>
  <div>
    <ul>
      <li><%= f.submit "投稿を完了する"%></li>
    </ul>
  </div>
<% end %>

<div>
  <ul>
    <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
  </ul>
</div>
 
