<div class="index-rooms">
  <h3>お部屋一覧</h3>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <table>
    <div class="index-table">
      <thead>
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th>紹介文</th>
          <th>住所</th>
          <th>価格</th>
          <th>作成日</th>
          <th>詳細</th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.img %></td>
            <td><%= room.name %></td>
            <td><%= room.introduction  %></td>
            <td><%= room.address %></td>
            <td><%= room.price %></td>
            <td><%= room.created_at.to_s(:datetime_jp) %></td>
            <td>
              <%= link_to "詳細", room %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </table>
  
  <p><%= link_to "お部屋新規登録", :new_room %></p>
</div>