<div class="show-room">
  <h3>お部屋詳細</h3>
  <table>
    <tr>
      <th>画像</th>
      <td><%= @room.img %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= @room.name %></td>
    </tr>
    <tr>
      <th>紹介文</th>
      <td><%= @room.introduction %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @room.address %></td>
    </tr>
    <tr>
      <th>価格</th>
      <td><%= @room.price %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= link_to "お部屋一覧に戻る", :rooms %></li>
    </ul>
  </div>
</div>  